@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(200, 255, 200);
}

nav{
    margin: 3vh;
    text-align: center;
}

nav a{
    padding: 1.5vh;
    color: rgb(0, 0, 0);
    text-decoration: solid;
    margin-left: 1vh;
}

nav a:hover {
    border-radius: 1.5vh;
    background-color: #35ba54;
    color: white;
    border-color: #000000;
}

header{
    align-items: center;
    text-align: center;
}

header div{
    margin-top: 5vh;
    margin-left: 2%;
    margin-right: 2%;
    border: 0.25vh #419241 outset;
    border-radius: 1rem;
    background-color: #35ba54;
}

section{
    border: 0.25vh green outset;
    border-radius: 1rem;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    padding: 2%;
}

li div{
    margin: 2%;
}

li div p{
    text-indent: 2%;
}


#skills ul {
    list-style: none;
    padding: 0;
    margin: 1vh;
}

#skills ul li {
    display: inline-block;
    padding: 1vh;
    border: 1px solid green;
    border-radius: 5px;
    margin: 10px;
}

#skills ul li:hover{
    border: 1px solid #000000;
    background-color: #5eb45e;
}

#skills ul li:hover ul li{
    border: 1px solid #0b6200;
    background-color: #419241;
}

#skills ul li ul li:hover{
    border: 1px solid #000000;
    background-color: #00ae00;
    color: white;
}

#projects ul h4 a {
    text-decoration: none;
    color: #000000;
}

#projects ul h4 a:hover {
    color: #000000;
    text-decoration: underline;
}
#projects ul h4 {
    text-decoration: none;
    color: #000000;
}
#contact li{
    margin-top: 1.5vh;
}
#contact div li{
    text-align: left;
}
#contact ul div {
    text-align: left;
    margin-top: 0.5vh;
    margin-left: 1vh;
    display: inline-block;
}
#contact ul div a{
    margin: 1vh;
    text-decoration: none;
    color: #0e9502;
}
#contact ul div a:hover{
    text-decoration: underline;
    color: #0f6200;
}

#contact h3{
    align-items: center;
    text-align: center;
}

#contact div{
    align-items: center;
    text-align: center;
}

#contact div p{
    margin: 0.5vh;
}

#contact div form div{
    margin-top: 3vh;
}

#contact div form div input{
    width: 30vw;
    height: 3vh;
}

#message-id{
    width: 30vw;
    height: 20vh;
}

#contact button{
    margin: 3vh;
    font-size: large;
    background-color: #5eb45e;
    border-color: #00ae00;
    padding: 1vh;
    border-radius: 1vh;
    font-weight: bold;
}

#contact button:hover{
    padding: 1vh;
    background-color: #419241;
    border-color: #000000;
    color: white;
    font-weight: bold;
}

footer{
    margin-top: 1vw;
    font-weight: bold;
    background-color: #419241;
    border-radius: 1vh;
    padding: 1vh;
    text-align: center;
}