/*@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: 'Lato', sans-serif;
    background-color: #396a88;
    justify-content: center;
}

nav{
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    box-shadow: 0 0 1vh rgba(0, 0, 0, 1);
    background-color: rgba(0, 0, 0, 0.25);
}

nav ul{
    padding-inline-start: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    list-style: none;
    unicode-bidi: normal;
}

.menu-item {
    padding: 0.5rem;
    margin: 0.25rem;
    text-decoration: none;
    display: inline-block;
    color: rgb(0, 0, 0);
    background-color: #5790ab;
    border-radius: 1.5vh;
    font-style: oblique;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 1);
}

.menu-item:hover {
    background-color: rgba(156, 205, 219,1);
    color: black;
    transition: all 0.4s ease-in-out;
}

header{
    text-align: center;
}

header div{
    margin-top: 12vh;
    position: static;
    padding-left: 10%;
    padding-right: 10%;
    border: 0.25vh #bbbbbb outset;
    border-radius: 1rem;
    background-color: #d0d7e1;
}

.animacion-titulo {
    animation: aparecer 3s ease-in-out;
}

@keyframes aparecer {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

section{
    border: 0.25vh #d0d7e1 outset;
    border-radius: 1rem;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    padding: 2%;
    background-color: #9bb5c4;
}
section div{
    margin: 2%;
}
section p{
    margin: 2%;
    text-indent: 2rem;
}
section li{
    list-style: none;
}
#about-me {
    text-align: justify;
}

#skills ul {
    list-style: none;
    padding: 0vh;
    margin: 0.25vh;
}

.rama-hab {
    display: inline-block;
    padding: 1vh;
    border: 1px solid rgb(2, 80, 125);
    border-radius: 1vh;
    margin: 1vh;
}

.rama-hab:hover{
    background-color: rgb(95, 154, 202);
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 1vh rgba(0, 0, 0, 1);
}

.habilidad{
    display: inline-block;
    padding: 1vh;
    border-radius: 1vh;
    margin: 0.5vh;
}

.rama-hab:hover .habilidad{
    background-color: #81aad1;;
}

.rama-hab:hover .habilidad:hover{
    background-color: #6ba3cc;
    color: black;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 1vh rgba(0, 0, 0, 1);
}

:root{
    --bar-color: rgb(197, 197, 197);
    --fill-percent: 0%;
}

.progress-bar{
    margin-right: 1vh;
    position: relative;
    width: 20vh;
    height: 2vh;
    background-color: rgb(28, 112, 175);
    border-radius: 2em;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

.progress-bar::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--bar-color);
    translate: translateX(-100);
    animation: fill-bar 0.8s 0.3s ease-in-out forwards;
}

@keyframes fill-bar {
    to {
        transform: translateX(var(--fill-percent));
    }
}

#projects ul h4 a {
    color: rgba(0, 0, 0,1);
}
#projects ul h4 {
    text-decoration: none;
    color: rgb(0, 0, 0,1);
}



#contact{
    align-items: left;
    text-align: left;
    padding-left: 10vw;
    padding-right: 10vw;
}

#contact a{
    color: #000000;
}

#contact li{
    margin-top: 1.5vh;
    font-size: large;
}
#contact div li{
    text-align: left;
}
#contact ul div {
    text-align: left;
    margin-top: 0.5vh;
    margin-left: 1vh;
}
#contact ul div a{
    margin: 1vh;
    text-decoration: none;
    color: rgba(14, 149, 2,1);
}
#contact ul div a:hover{
    text-decoration: underline;
    color: rgb(0, 87, 127);
}

#contact div form div p{
    margin: 1vh;
}

#contact div form div{
    margin-top: 3vh;
}

#contact div form div input{
    width: 30vw;
    height: 3vh;
}

#message-id{
    width: 30vw;
    height: 20vh;
}

#contact button{
    margin: 3vh;
    padding: 1vh;
    font-size: large;
    background-color: rgb(53, 122, 186);
    border-color: rgb(0, 99, 174);
    padding: 1vh;
    border-radius: 1vh;
    font-weight: bold;
}

#contact button:hover{
    background-color: rgb(83, 149, 182);
    border-color: rgba(0, 0, 0, 1);
    color: white;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}


#social {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

#social li {
    list-style: none;
    display: inline-block;
    padding: 5px;
}

#social a{
    font-size: larger;
}

.fa {
    color: #000000;
    text-decoration: none;
    margin-left: 0px;
}
.fa:hover {
    color: #4c5dbb;
    text-decoration: underline;
    margin-left: 0px;
}

#contact i{
    color: #000000;
    text-decoration: none;
}

footer{
    margin-top: 1vw;
    font-weight: bold;
    background-color: #d0d7e1;
    border-radius: 1vh;
    padding: 1vh;
    text-align: center;
}